<%= form_for(@rubyterm) do |f| %>
  <% if @rubyterm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rubyterm.errors.count, "error") %> prohibited this rubyterm from being saved:</h2>

      <ul>
      <% @rubyterm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rubyterm %><br />
    <%= f.text_field :rubyterm %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
